/*
 Theme Name:   Printemps des Poètes à Tours
 Theme URI:    https://artefacts.coop
 Description:  Printemps des Poètes à Tours
 Author:       Artéfacts, Cyrille Giquello
 Author URI:   https://artefacts.coop
 Requires at least: 5.0
 Tested up to: 5.4
 Requires PHP: 7.3
 Version:      1.2.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         custom
 Text Domain:  prin-poetes
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@font-face {
    font-family: 'Fira';
    src: url('fonts/FiraSans-Regular.woff2') format('woff2');
    font-weight: normal 400;
    font-style: normal;
    font-display: swap;
 }
 @font-face {
    font-family: 'Fira';
    src: url('fonts/FiraSans-Bold.woff2') format('woff2');
    font-weight: 500 700;
    font-style: normal;
    font-display: swap;
 }
 @font-face {
    font-family: 'Fira';
    src: url('fonts/FiraSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
 }

html,
body {
    /*width: 100%; height: 100%;
    min-height: 80rem;
    */
    /* menu it is fixed to the top */
    /*padding-top: 4.5rem;*/
    color: white;
    font-size: 13pt;
    font-family: "Fira", sans-serif;
}

nav.bg-dark {
    background-color: #2C3D67!important;
}
.navbar-dark .navbar-nav .nav-link {
    color:#eee;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:#fff;
    text-decoration: underline;
}

a.read-more,
a.read-more:visited {
    color: white;
    font-style: italic;
    text-decoration: underline;
}

a.btn.read-more,
a.btn.read-more:visited {
    background-color: #eee;
    color: black;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}
a.btn.read-more:hover {
    text-decoration: none;
    background-color: white;
}
a.go-back:before {
    font-family: dashicons;
    content: "\f341";
    margin-right: .3em;
    vertical-align: bottom;
}

#backtoTop {
    display: none; z-index: 99;
    position: fixed; bottom: 16px; right: 22px;
    cursor: pointer;
    padding: 4px;
    background: dimgray;
    border: 1px solid dimgray ; border-radius: 4px;
}
#backtoTop span {
    font-size: 36px; width: 40px; height:38px;
}
#backtoTop a, #backtoTop a:visited {
    color: white;
    text-decoration: none;
}


img.wp-post-image {
    max-width: 100%;
    height: auto;
}
body.single-events img.size-post-thumbnail {
    max-width: 50vw;
    height: auto;
}
.wp-block-media-text {
    margin-bottom: 1rem;
}
.wp-block-media-text img {
    height: auto;
}


body.page,
body.single {
    min-height: 100vh;
}


body.page-qui-sommes-nous,
#qui-sommes-nous {
    background: radial-gradient(circle at 0% 100% , #506CB4 18%, #F74B09 30%,#2C3D67 60%);
}
body.page-qui-sommes-nous {
    background-attachment: fixed ;
}

body.page-ressources ,
body.page-template-page-ressource,
#ressources {
    background: radial-gradient(circle at 7% 100% , #506CB4 5%, #F84B08 10%,#7F7F7F 50%);
}
body.page-template-page-ressource,
body.page-qui-ressources {
    background-attachment: fixed ;
}


body.post-type-archive-events,
body.single-events,
#agenda {
    background: radial-gradient(circle 50rem at 100% 60% , #506CB4 40%, #F1D011 50%,#2C3D67 70%);
}
body.post-type-archive-events,
body.single-events {
    background-attachment: fixed ;
}
@media(min-width:768px)
{
    body.post-type-archive-events,
    body.single-events,
    #agenda {
        background: radial-gradient(circle at 100% 100% , #506CB4 60%, #F1D011 70%,#2C3D67 80%);
    }
}

/*
    article ====
*/

body.archive section,
body.single article,
body.page article {
    padding-top: 80px; /* the navbar offset */
    /*margin-bottom: 100px ;*/
}

body.archive article .container ,
body.single article .container,
body.page article .container {
    background-color: #eee;
    border-radius: 1rem;
    color: #3c3c3c ;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

@media(max-width:768px)
{
    article .container { /* overide bootstrap */
        /*margin-left: 10px; margin-right: 10px;*/
        padding-left: 8px; padding-right: 8px ;;
    }
}

article h1 {
    text-align: center;
    margin-bottom: 1rem;
}

article h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*
    margin-left: 1rem;
    */
    border-bottom: 2px solid #aaa;
    display: inline-block;
    line-height: 1.5;

    /*
    */
    /*
    text-decoration-style: wavy;
    text-decoration-color: #ccc;
    text-decoration-line: underline;
    */
    
}

article p {
    margin-left: .5rem;
}

article ul.sommaire {

}
article ul.sommaire a,
article ul.sommaire a:visited {
    color: #3c3c3c;
    text-decoration: underline;
}

/*
    .wp-block-pullquote ===
*/

article .wp-block-pullquote {
	text-align: justify;
    padding: 1rem;

    /*padding: calc(2 * var(--global--spacing-unit)) 0;
    border-width: var(--pullquote--border-width);
	*/
	border-bottom-style: solid;
	border-top-style: solid;
	color: currentColor;
	border-color: currentColor;
	position: relative;
	/**
   * Block Options
   */
}

article .wp-block-pullquote p {
	/*font-family: var(--pullquote--font-family);
	font-size: var(--pullquote--font-size);
	font-style: var(--pullquote--font-style);
	font-weight: 700;
	letter-spacing: var(--pullquote--letter-spacing);
	line-height: var(--pullquote--line-height);
	margin: 0;*/
}

article .wp-block-quote {
    border-left: 0.25em solid #000;
    margin-left: 1rem;
	padding-left: 1rem;
	/**
   * Block Options
   */
}

article .wp-block-quote p:before {
	content: "“";
	line-height: 1;
    margin-right: .3em;
}
article .wp-block-quote p:after {
	content: "“";
	line-height: 1;
    margin-left: .3em;
}

article .wp-block-quote  {
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
article .wp-block-quote cite  {
    font-style: normal;
}

article p.read-more {
    text-align: center;
}

article p.read-more a,
article p.read-more a:visited{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2;
    padding: .5rem;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: .25rem;
}
article p.read-more a:hover {
    text-decoration: underline;
}

/*
    Event ===
 */

.card.event img.attachment-post-thumbnail {
    max-width: 160px; height: auto;
}

.card.event  {
    /*background-color: #4A66AC;*/
    /*background-color: #ffda0096;*/
    background-color: #eece11;
    /* full yellow #ffda00 */
    /* dark text:  */
    color: #495057;
}
.card.event .card-header {
    font-weight: bolder;
    font-size: 1.1rem;
}
.card.event .card-body {
    padding-top: .5rem;
}
.card.event ul.terms {
    list-style-type: none;
    padding-inline-start: 0;
}
.card.event ul.terms li {
    display: inline-block;
    background-color: #ffda00;
    border: 1px solid #dcbc00;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .5rem;
}
